Package                   Version
------------------------- -------------------
affine                    2.3.0
asciitree                 0.3.3
asdf                      3.0.1
asdf-astropy              0.5.0
asdf-coordinates-schemas  0.2.0
asdf-standard             1.0.3
asdf-transform-schemas    0.4.0
asdf-unit-schemas         0.1.0
asdf-wcs-schemas          0.1.1
astroalign                2.4.1
astroplan                 0.9.1
astropy                   5.3.4
astropy-healpix           0.7
astropy-helpers           4.0
astropy-iers-data         0.2023.12.4.0.30.20
astroquery                0.4.6
astroscrappy              1.1.0
attrs                     23.1.0
beautifulsoup4            4.12.2
Bottleneck                1.3.5
Brotli                    1.0.9
certifi                   2023.11.17
cffi                      1.16.0
charset-normalizer        2.0.4
click                     8.1.7
click-plugins             1.1.1
cligj                     0.7.2
cloudpickle               2.2.1
colorama                  0.4.6
contourpy                 1.2.0
cryptography              41.0.3
cycler                    0.11.0
cytoolz                   0.12.0
dask                      2023.11.0
dnspython                 2.4.2
docopt                    0.6.2
docutils                  0.20.1
entrypoints               0.4
eventlet                  0.34.2
exceptiongroup            1.2.0
fasteners                 0.16.3
fastjsonschema            2.19.1
fonttools                 4.25.0
fsspec                    2023.10.0
fundamentals              2.6.1
future                    0.18.3
greenlet                  3.0.3
gwcs                      0.20.0
html5lib                  1.1
idna                      3.4
image-registration        0.2.7
imagecodecs               2023.9.18
imageio                   2.31.4
importlib-metadata        7.0.0
importlib-resources       3.3.1
iniconfig                 2.0.0
jaraco.classes            3.2.1
jmespath                  0.10.0
joblib                    1.2.0
jsonschema                4.21.1
jsonschema-specifications 2023.12.1
jupyter_core              5.7.1
keyring                   23.13.1
kiwisolver                1.4.4
lazy_loader               0.3
Listreqs                  0.0.5
locket                    1.0.0
lockfile                  0.12.2
matplotlib                3.8.0
more-itertools            10.1.0
msgpack                   1.0.3
munkres                   1.1.4
nbformat                  5.9.2
networkx                  3.1
numcodecs                 0.11.0
numexpr                   2.8.7
numpy                     1.26.2
packaging                 23.2
pandas                    2.1.1
panstamps                 0.6.6
partd                     1.4.1
photutils                 1.10.0
pigar                     0.10.0
Pillow                    10.1.0
pip                       23.3.1
pipreqs                   0.4.13
pkgutil_resolve_name      1.3.10
platformdirs              4.1.0
pluggy                    1.3.0
psutil                    5.9.7
pycparser                 2.21
pyerfa                    2.0.0
pyOpenSSL                 23.2.0
pyparsing                 3.0.9
PySocks                   1.7.1
pytest                    7.4.3
python-daemon             3.0.1
python-dateutil           2.8.2
pytz                      2023.3.post1
pyvo                      1.4.2
PyWavelets                1.4.1
PyYAML                    6.0.1
rasterio                  1.3.9
referencing               0.32.1
reproject                 0.10.0
requests                  2.31.0
rpds-py                   0.17.1
scikit-image              0.20.0
scikit-learn              1.2.2
scipy                     1.11.4
semantic-version          2.8.5
sep                       1.2.1
setuptools                57.5.0
shapely                   2.0.2
six                       1.16.0
snuggs                    1.4.7
soupsieve                 2.5
tabulate                  0.9.0
termcolor                 2.1.0
threadpoolctl             2.2.0
tifffile                  2023.4.12
tomli                     2.0.1
toolz                     0.12.0
tornado                   6.3.3
tqdm                      4.63.0
traitlets                 5.14.1
tzdata                    2023.3
urllib3                   1.26.18
webencodings              0.5.1
wheel                     0.41.2
yarg                      0.1.9
zarr                      2.13.3
zipp                      3.17.0
